
  <nav>
    <ul>
      <!-- <div class="dropdown"> -->
        <a routerLink="signin">Singing</a>
        <li>
          <div class="dropdown">
            <a href="/">Resources</a> 
            <div class="dropdown-content">
                <a routerLink="/resources/uploadsales">Upload Sales</a>  
                <a href="#">Funding</a>  
                <a href="/resources/outcomes">Outcomes</a>  
                <a href="#">Client Drop Downs</a>  
                <a href="#">Technicians</a>  
            </div>             
          </div>
        </li>

        <li>
          <div class="dropdown">
            <a href="/">Users</a> 
            <div class="dropdown-content">
                <a href="#">Executives</a>  
                <a href="#">Directors</a>  
                <a href="#">Managers</a>  
                <a href="#">Sales</a>  
                <a href="#">User Tracking</a>  
            </div>             
          </div>
        </li>

        <li>
          <div class="dropdown">
            <a href="/">Sales</a> 
            <div class="dropdown-content">
                <a routerLink="/sales/dashboard">Dashboard</a>  
                <a routerLink="/sales/national-goals">National Goals</a>                  
                <a routerLink="/sales/rep-goals">Rep Goals</a>  
                <a routerLink="/sales/trackers">Trackers</a> 
                <a routerLink="/sales/top-companies">Top Companies</a>
                <a routerLink="/sales/top-drs">Top DRs</a>  
                <a routerLink="/sales/lost-drs">Lost DRs</a>  
                <a routerLink="/sales/new-drs">New DRs</a>  
                <a routerLink="/sales/top-drs">Top Drugs</a>  
                <a routerLink="/sales/top-drugs">Top Drugs/DR</a> 
                <a routerLink="/sales/top-cities">Top Cities</a>  
                <a routerLink="/sales/top-states">Top States</a>  
                <a routerLink="/sales/specialtrends">Specialty Trends</a>                  
            </div>             
          </div>
        </li>

        <li>
          <div class="dropdown">
            <a href="/">Companies</a> 
            <div class="dropdown-content">
                <a href="#">Companies</a>  
                <a href="#">Upload</a>  
            </div>             
          </div>
        </li>

        <li>
            <div class="dropdown">
              <a href="/">Activites</a> 
              <div class="dropdown-content">
                  <a href="#">Upload Sales</a>  
                  <a href="#">Funding</a>  
                  <a href="#">Outcomes</a>  
                  <a href="#">Client Drop Downs</a>  
                  <a href="#">Technicians</a>  
              </div>             
            </div> 
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Payors</a> 
              <div class="dropdown-content">
                  <a href="#">Top Payor</a>  
                  <a href="#">Relationships</a>  
              </div>             
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Marketing</a> 
              <div class="dropdown-content">
                  <a href="#">Usage</a>  
                  <a href="#">Forum</a>  
              </div>             
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/">Finance</a> 
              <div class="dropdown-content">
                  <a href="#">Reporters</a>  
                  <a href="#">Trends</a>  
                  <a href="#">Stark</a>  
              </div>             
            </div>
          </li>
    </ul>
  </nav>
  <person-map></person-map>


